<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>SpriteKit Workbook</string>
	<key>Description</key>
	<string>Your coding notebook to learn SpriteKit</string>
	<key>ContentIdentifier</key>
	<string>ca.mths.playgroundbook.SpriteKitWorkbook</string>
	<key>ContentVersion</key>
	<string>1</string>
	<key>ImageReference</key>
	<string>playgroundBookIcon.jpg</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>Chapters</key>
	<array>
	    <string>Unit0.playgroundchapter</string>
	    <string>Unit1.playgroundchapter</string>
	</array>
</dict>
</plist>